<div class="container upload-image-container">
    <div class="mb-3">
        <label for="x" class="form-label">X</label>
        <input type="text" class="form-control" id="x" placeholder="X">
      </div>

      <div class="mb-3">
        <label for="y" class="form-label">Y</label>
        <input type="text" class="form-control" id="y" placeholder="Y">
      </div>
      


    <div class="mb-3">
        <label for="formFile" class="form-label">Image</label>
        <input class="form-control" type="file" id="formFile">
      </div>
      <button type="button" class="btn btn-secondary btn-lg">Attach image to pdf</button>
</div>
